<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="danger">
  <ion-header collapse="condense" color="primary">
    <ion-toolbar color="primary">
      <ion-title size="large">SELAMAT DATANG DI TOKO BARANG YENSICUTE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>
      <div class="ion-text-center">
      <h1>SELAMAT DATANG DI TOKO BARANG YENSICUTE!</h1>
      </div>
      </ion-label>
  </ion-item>

  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center">SAMBUTAN</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Berbelanja Murah Hanya ada Di Toko kami</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Buka : SETIAP HARI</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Dari Pukul : 08.00-10:00 WIB</ion-card-subtitle>
    </ion-card-header>
    <div class="ion-text-center">
    <img alt="Silhouette of mountains" src="assets/gambartoko.png" class="thumbnail" />
  </div>
  </ion-card>






<ion-content class="ion-padding" color="danger">
  <ion-card-header>
    <ion-card-title class="ion-text-center"><h1>JENIS BARANG YANG DI JUAL</h1></ion-card-title>
  </ion-card-header>
  <div class="image-container">
    <img src="assets/baju.png" alt="Your Image">
    <img src="assets/sepatu.png" alt="Your Image">
    <img src="assets/topi.png" alt="Your Image">
    <img src="assets/kacamata.png" alt="Your Image">
    <img src="assets/celana.png" alt="Your Image">
    <img src="assets/jeket.png" alt="Your Image">
    <img src="assets/tas.png" alt="Your Image">
    <img src="assets/jam.png" alt="Your Image">
    <img src="assets/kaoskaki.png" alt="Your Image">


  </div>
</ion-content>

</ion-content>
