<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      ABOUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
    <ion-item>
      <ion-label>
        <div class="ion-text-center">
        <h1>BIODATA OWNER DAN TOKO!</h1>
        </div>
        </ion-label>
    </ion-item>

    <ion-content class="ion-padding" color="danger">
      <ion-card-header>
        <ion-card-title >OWNER</ion-card-title>
      </ion-card-header>






      <div  class="image-container" >
        
        <img src="assets/yensi.jpg" alt="Your Image" witdh="10px">
      
        </div>
      

          <ion-card-header>
            <ion-card-title><h1>BIODATA OWNER</h1></ion-card-title>
            <ion-card-title>NAMA     : Yensi Lorenza Ginting</ion-card-title>
            <ion-card-title>ALAMAT   : JL.Sei Batang Hari No 108</ion-card-title>
            <ion-card-title>NO HP/WA : 082172807739</ion-card-title>
            <ion-card-title>EMAIL    : yensigintong14@gmail.com</ion-card-title>

           <ion-card-header>
            <ion-card-title><h1>BIODATA TOKO</h1></ion-card-title>
            <ion-card-title>NAMA TOKO    : Yensicute</ion-card-title>
            <ion-card-title>ALAMAT       : JL.Haji Ulakma Sinaga No.73 Kota Pematang Siantar</ion-card-title>
            <ion-card-title>NO HP/WA     : 082172807739</ion-card-title>
            <ion-card-title>EMAIL Toko   : tokoyensi73@gmail.com</ion-card-title>
          </ion-card-header>




  


  

  
